{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for list_and_items in view_model.list_organised_items %}
        <h3>{{ list_and_items.name }}</h3>
        <ul class="list-group mb-4">
          {% for item in list_and_items.entries %}
            <li>
              <p>{{ item.name }}</p>
              <form id="item-form-{{ item.id }}" action="/updateStatus" method="post">
                <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <select name="listId" form="item-form-{{ item.id }}">
                  {% for list in view_model.lists %}
                    <option value="{{ list.id }}">{{ list.name }}</option>
                  {% endfor %}
                </select>
                <button type="submit">Update</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      <form action="/createTodo" method="post">
        New todo: <input name="title" />
      </form>
    </div>
  </div>
{% endblock %}